{% extends 'base.html.twig' %}

{% block title %}Edit Circonscription{% endblock %}

{% block body %}
    <h1>Edit Circonscription</h1>

    {{ include('circonscription/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_circonscription_index') }}">back to list</a>

    {{ include('circonscription/_delete_form.html.twig') }}
{% endblock %}
