{% extends 'base.html.twig' %}

{% block title %}New Circonscription{% endblock %}

{% block body %}
    <h1>Create new Circonscription</h1>

    {{ include('circonscription/_form.html.twig') }}

    <a href="{{ path('app_circonscription_index') }}">back to list</a>
{% endblock %}
